<div class="hidden-phone news-archive content">
<h4>News Archive</h4>
 <ul>
   {% for post in site.posts %}

     {% unless post.next %}
         <li class="archivedate collapsed"><h4><a class="toggle"><span class="toggle-arrow">&#9654;</span> {{ post.date | date: '%Y' }}</a></h4><ul>
     {% else %}
         {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
         {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
         {% if year != nyear %}
            </ul></li><li class="archivedate collapsed"><h4><a class="toggle"><span class="toggle-arrow">&#9654;</span> {{ post.date | date: '%Y' }}</a></h4><ul>
         {% endif %}
     {% endunless %}
     <li class="news-post"><a href="{{ post.url | remove: '.html' }}">{{ post.title }}</a></li>
   {% endfor %}
   </ul></li>
</ul>
</div>
<script type="text/javascript">
    $(function() {
        $(".toggle").each(function() {
            $(this).click(function() {
                if ($(this).parents(".archivedate").hasClass("expanded")) {
                    $(this).parents(".archivedate").removeClass("expanded").addClass("collapsed");
                    $(this).children(".toggle-arrow").removeClass("toggle-open").html("&#9654;");
                } else {
                    $(this).parents(".archivedate").removeClass("collapsed").addClass("expanded");
                    $(this).children(".toggle-arrow").removeClass("toggle-open").html("&#9650;");
                }
            });
        });
    });
</script>
