    <div class="row">
        <div class="span12">
            <div id="footer">
                <p class="copyright">Disclaimer: Any software provided is provided "as-is." You bear the risk of using it. I give no express warranties, guarantees or conditions in regards to the use of this software. Copyright &copy; Glenn Conner 2014</p>              
            </div>
        </div>
    </div>
</div>


<script src="/scripts/jquery-2.0.2.min.js"></script>
<script src="/scripts/bootstrap.min.js"></script>
<script type="text/javascript">
    //run any deferred jquery callbacks now
    if (typeof jQuery !== "undefined")
    {
        $.each(q,function(i,f){$(f)});
    }
</script>
<script type="text/javascript">
    //<![CDATA[
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3061240-9']);
    _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement("script"); ga.type = "text/javascript"; ga.async = true;
        ga.src = ("https:" == document.location.protocol ? "https://ssl" : "http://www") + ".google-analytics.com/ga.js";
        (document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]).appendChild(ga);
      })();
    //]]>
</script>
