<script type='text/javascript'>window.q=[];window.$=function(f){q.push(f)}</script>
<div class="container">
  <div id="header-row" class="row">
    <div class="col-12">
        <h1><span class="light">sharpo</span><span class="dark">blunto</span></h1>
        <h5 id="banner-text">Over the event horizon, toward the singularity</h5>
    </div>
    <div class="col-12" id="header-nav-bg">
        <ul>
            <li><h3><a href="/">News</a></h3></li>
            <li><h3><a href="/projects">Projects</a></h3></li>
            <li><h3><a href="/about">About</a></h3></li>
        </ul>
        <div id="nav-extra">
            <a id="nav-twitter" href="https://twitter.com/intent/user?screen_name=mr_sharpoblunto">Follow on Twitter</a>
            <a id="nav-rss" href="/feed.xml">RSS</a>
            <a id="nav-github" href="https://github.com/mrsharpoblunto">Follow on GitHub</a>
        </div>
    </div>
  </div>
  <script>
    const bannerText = document.getElementById('banner-text');
    const bannerTexts = [
      'Over the event horizon, toward the singularity',
      'They say he made the spoon himself, from a bigger spoon',
      'Hexapodia is the key insight',
      'The pelagic argosy sights land',
      'Any brilliant idea will fall apart eventually',
      'Lost in time, like tears in rain',
    ];
    const bannerTextIndex = Math.floor(Math.random() * bannerTexts.length);
    bannerText.innerHTML = bannerTexts[bannerTextIndex];
  </script>


