<script type='text/javascript'>window.q=[];window.$=function(f){q.push(f)}</script>
<div class="container">
    <div class="row">
        <div id="header">
            <div class="span12">
                <h1><span class="light">sharpo</span><span class="dark">blunto</span></h1>
                <h5>Over the event horizon, toward the singularity</h5>
            </div>
            <div class="span12 header-bg">
            </div>
            <div class="span12 header-nav">
                <ul>
                    <li><h3><a href="/">News</a></h3></li>
                    <li><h3><a href="/projects">Projects</a></h3></li>
                    <li><h3><a href="/about">About</a></h3></li>
                </ul>
                <div id="nav-extra">
                    <a id="nav-rss" href="/feed.xml">RSS</a>
                    <a id="nav-twitter" href="https://twitter.com/intent/user?screen_name=mr_sharpoblunto">Follow on twitter</a>
                </div>
            </div>
        </div>
    </div>


