<h4>Email</h4>
<a href="mailto:{{ site.email }}">{{ site.email }}</a> 
<h4>Location</h4>
<p>{{ site.location }}</p>
<h4>LinkedIn</h4>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="http://www.linkedin.com/pub/glenn-conner/49/8a/31b" data-format="click" data-text="Glenn Conner"></script>
<h4>Twitter</h4>
<a data-show-count="false" class="twitter-follow-button" href="https://twitter.com/mr_sharpoblunto">Follow @mr_sharpoblunto</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<h4>GitHub</h4>
{%include github-follow.html %}
