body
{
	background-color: #000;
}

.container
{
	background-color:#ddd;
}

.content
{
	padding: 1rem 0;
}

#banner-text {
	display: none;
}

@media (min-width:992px)
{
  #banner-text {
    font-family: "Open Sans";
    display: flex;
    margin-left: 0.5rem;
  }
}

#nav-extra
{
}

.infobox
{
  margin: 1rem 0;
	background: #222;
  padding: 1rem;
	color: #ddd;
}

/** header styles */
#header-row {
  min-height: 170px;
  background-size: cover;
  background-image: url(/assets/images/header-bg-tiny.jpg);
}

#header-row :first-child.col-12 {
  display: flex;
  align-items: last baseline;
  justify-content: space-between;
}

@media (min-width: 576px)
{
  #header-row
	{
		background-image: url(/assets/images/header-bg-small.jpg);
	}
}
@media (min-width: 992px)
{
  #header-row
	{
		background-image: url(/assets/images/header-bg-medium.jpg);
	}
}
@media (min-width: 1200px)
{
  #header-row
	{
		background-image: url(/assets/images/header-bg-large.jpg);
	}
}

@media (max-width: 767px)
{
	body
	{
		padding: 0;
	}
}

#header-nav-bg
{
	background-color:rgba(0,0,0,0.7);
	min-height:60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


#nav-extra
{
	display: none;
}

#nav-twitter, #nav-rss, #nav-github
{
	width:26px;
	height:26px;
  margin-left: 5px;
	text-indent:-9999px;
}

.twitter-timeline-rendered {
  background: #fff;
}

@media (min-width:768px)
{
	#nav-extra
	{
		display: flex;
	}

	#nav-twitter
	{
		background: url(/assets/images/twitter.png) no-repeat 0 0;
	}

	#nav-rss
	{
		background: url(/assets/images/rss.png) no-repeat 0 0;
	}

	#nav-github
	{
		background: url(/assets/images/github.png) no-repeat 0 0;
	}
}

#header-row ul
{
	margin: 0; 
  padding: 0;
}

#header-row ul li
{
	list-style: none;
	float: left;
	margin: 0 20px 0 0;
}

#header-row ul li a
{
	font-family: "Lato";
	text-decoration: none;
  font-weight: bold;
	color: #ddd;
}

#header-row h5
{
	color: #ddd;
	text-shadow: 0px 0px 3px #000;
}

#header-row h1
{
	font-family: "Lato";
  font-weight: bold;
  font-size: 3.0rem;
	text-shadow: 0px 0px 5px #000;
}

#header-row h1 span.light
{
	color: #ddd;
}

#header-row h1 span.dark
{
	color: #777;
}

/** footer styles */

#footer
{
  width: 100%;
  font-size: 75%;
	background: #222;
	text-align:center;
	color:#ddd;
}

#footer p {
	padding: 1rem;
  margin: 0;
}

/** blog post styles */
.post-content pre.highlight {
  width: 100%;
  margin: 1.0rem 0;
  padding: 0.5rem;
}

.post-content iframe, .post-content a img, .post-content p img, .post-content video {
  display: block !important;
  margin: 1.0rem auto;
  max-width: 100%;
  border: 1px solid #cfcfcf;
  border-radius: 2px;
}

.post-content iframe {
  margin: 1rem auto;
}

.post 
{
  padding: 1rem 0;
  border-top: 2px solid #eee;
}

.post:first-child {
  border: none;
  padding-top: 0;
}

.post.content {
  padding-top: 1.0rem;
}

.post p.badge:first-child {
  margin-left: 10px;
}

.post h5:last-child {
  padding-top: 10px;
}

.news-archive ul
{
	list-style: none;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.news-archive a
{
	text-decoration:none;
}

a.toggle {
    cursor: pointer;
}

.toggle-arrow {
  font-size: 12px;
  margin-right: 4px;
  margin-top: 4px;
  float: left;
  font-family: "Open Sans";
}

.collapsed ul
{
	display: none;
}

#disqus_thread
{
    margin-top: 20px;
}

#disqus_recommendations
{
	margin-top: 40px;
	border-top: 1px solid #d0d0d0;
	padding-top: 20px;
}

/** about page styles */

#aboutme {
  display: flex;
  align-items: center;
}

#aboutme img {
  flex-shrink: 0;
}


.github
{
	background: url("/assets/images/octocat.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 32px;
	padding-left: 32px;
	padding-top: 0.5em;
}

/** project page styles */
.img-polaroid
{
  display: flex;
	margin-right: 15px;
	margin-bottom: 15px;
  flex-shrink: 0;
  object-fit: contain;
  align-self: flex-start;
}

.project-content
{
  display: flex;
  flex-direction: column;
}

@media (min-width: 767px) {
  .project-content
  {
    flex-direction: row;
  }
}

/** bootstrap overrides */
.carousel.slide {
  background-color:#d0d0d0;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 1rem 0;
}

.carousel-caption p {
  text-shadow: 0px 0px 1px #000;
  background: rgba(0,0,0,0.5);
}

.btn
{
	background:#444;
	border:none;
	border-bottom: 5px solid #333;
	box-shadow:none;
	padding: 0.4rem 1.2rem 0.2rem;
	text-transform: uppercase;
	color:#fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.75);
}

.btn:hover, .btn:focus
{
	background:#333;
	color:#fff;
}

.btn-primary
{
	background:#006DCC;
	border-bottom: 5px solid #0044cc;
}

.btn-primary:hover, .btn-primaryfocus
{
	background:#0044cc;
}

.btn
{
	padding: 0.6rem 1.5rem 0.3rem;
  margin: 0.3rem 0;
}

.page-header
{
	padding-bottom: 0;
	margin: 20px 0px 10px;
  border-bottom: 2px solid #eee;
}

.page-header .small
{
	color: #666;
}

figure.post-image {
  margin-bottom: 1rem;
}

figure.post-image div
{
  width: 100%;
  display: flex;
  background: #d0d0d0;
  border: 1px solid #ccc;
  border-radius: 2px;
}

figure.post-image div img {
  max-width: 100%;
  margin: 0 auto;
}

figure.post-image figcaption
{
  padding: 0.5rem;
  text-align: center;
  color: #666;
}

